.bh-logo-main {
    position: static;
    text-align: center !important;
    float: none !important;
}

.open-url-resolver ul.toolbar-tools li {
	display: inline;
	margin: .25em .5em;
}

.open-url-resolver ul.toolbar-tools {
	text-align: right;
	padding: .25em;
}

.open-url-resolver ul.basic-list {
	list-style: none;
	margin-left: 0;
}

.open-url-resolver h1.page-title {
	font-size: 2em;
}

#footerControl {
	display: none;
}

.open-url-resolver .customerLogo {
	display: none;
}

.open-url-resolver h3.h3 {
	display: none;
}